/* Color palette
#f05d5e - red
#0f7173 - dark green
#e7ecef - gray-blue
#272932 - black
#d8a47f - brown
*/

/*  ###############  Font download  ###############  */
@font-face {
	font-family: "My Font";
	src: url("../fonts/RubikBeastly-Regular.ttf");
}


/*  ###############  Global Styles  ###############  */

html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }

body {
	color: #272932;
	margin: 0;
	padding: 0;
}
img {
	width: 300px;
}
.content-wrap{
	width: 900px;
	margin: 0 auto;
	padding: 60px;
}
.content-blocks{
	align-content: center;
	align-items: center;
	align-self: center;
}

h2, h1 {
	margin: 0;
}

/*  ###############  Profile  ###############  */
header h1{
	font-family: "My Font";
	font-size: 70px;
	font-weight: lighter;
}

header{
	background: #0f7173;
	color: #e7ecef;
}

header a:hover{
	color: #f05d5e;
	text-decoration: none;
	background: rgba(231,236,239, 80%);
}
header a{
	color: #0f7173;
	background: #e7ecef;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
}



/* #################  Projects  #################  */
.projects{
	background: #e7ecef;
}

.projects .btn {
	color: #e7ecef;
	background: #0f7173;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
}

.projects .btn:hover{
	background: rgba(15,113,115,70%);
}

.project-item{
	overflow:hidden;
	border-bottom: 1px dashed grey;
	padding: 25px 0;
}

.project-item img{
	float:left;
	margin-right: 30px;
}

.project-item h3{
	margin-top: 0;
}



/* #################  Work Experience  #################  */
.work_experience{
	background: #f05d5e;
}

.job-item{
	display: grid;
	grid-template-columns: 1fr 2.8fr;
	column-gap: 20px;
}

/* #################  Education  #################  */
.education{
	background: #d8a47f;
}

/* #################  footer  #################  */
footer{
	background: #272932;
	color: #e7ecef;
	text-align: center;
}
footer a{
	color: #e7ecef;
}

.contact-list{
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.contact-list a{
	padding: 15px;
	display: inline-block;
}

/* #################  block  #################  */
.block-el{
	background: red;
	height: 50px;
	width: 300px;
	display: inline-block;
}

/* #################  inline  #################  */
.inline-el{
	background: lightblue;
	height: 50px;
	width: 300px;
	display: inline-block;
}
